
<% @documents.each do |document| %>
  <h3 class="modal-title"><%= document_heading(document) %></h3>

<% if document.respond_to?(:export_as_mla_citation_txt) %>
  <h4><%= t('blacklight.citation.mla') %></h4>
  <%= document.send(:export_as_mla_citation_txt).html_safe %><br/><br/>
<% end %>

<% if document.respond_to?(:export_as_apa_citation_txt) %>
  <h4><%= t('blacklight.citation.apa') %></h4>
  <%= document.send(:export_as_apa_citation_txt).html_safe %><br/><br/>
<% end %>

<%- if document.respond_to?(:export_as_chicago_citation_txt) -%>
  <h4><%= t('blacklight.citation.chicago') %></h4>
  <%= document.send(:export_as_chicago_citation_txt).html_safe %>
<%- end -%>

<% end %>

<% @documents.each do |document| %>
  <% document_show_fields(document).each do |field_name, field| -%>
     <%= render_document_show_field_label document, :field => field_name %> 
     <%= render_document_show_field_value document, :field => field_name %>
     </br>
  <% end -%>
<% end %>
